<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>


Hello World!!!
 <form method="post" enctype="multipart/form-data" id="post-form" action = "/create_post/" >
{% csrf_token %}

 <input type = "text"  name = "username" id="username" />
                  
  <input type="file" id="field_6_6_2_input"  value="image" name="image">
  
  <button type="submit" value="submit">submit</button>             

</form>

<div id="output"></div>

{% load static %}
<script src="{% static 'scripts/main.js' %}"></script>
</body>
</html>